asgiref==3.11.0
diskcache==5.6.3
Django==5.2.8
Jinja2==3.1.6
llama_cpp_python==0.3.16
MarkupSafe==3.0.3
numpy==2.2.6
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
