body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    overflow: hidden; /* Evita scrolling indesiderato */
}

.header {
    width: 100%;
    background-color: rgba(21, 101, 192, 1); /* Sfondo semi-trasparente */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Metti sopra il video */
}

.container {
    position: relative;
    z-index: 2; /* Metti sopra il video */
    margin-top: 100px; /* Spazio per evitare sovrapposizione con l'header */
}

h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
pp {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adatta il video allo schermo */
    z-index: 1; /* Metti il video dietro tutti gli elementi */
}

.personalize-button {
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF;
    color: #1565c0;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 50px;
    transition: 0.3s;
}

.personalize-button:hover {
    background-color: #e3f2fd;
}