{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Registrazione</title>
    <script>
        function toggleFields() {
            const userType = document.getElementById('user_type').value;
            const commonFields = document.getElementById('common_fields');
            const medicoFields = document.getElementById('medico_fields');
            const pazienteFields = document.getElementById('paziente_fields');
            const registra = document.getElementById('register_button');

            registra.style.display = userType ? 'block' : 'none';
            commonFields.style.display = userType ? 'block' : 'none';
            medicoFields.style.display = userType === 'medico' ? 'block' : 'none';
            pazienteFields.style.display = userType === 'paziente' ? 'block' : 'none';
        }
    </script>
</head>
<body>
    <!-- Header con link per navigazione -->
    <div class="header">
        <a href="{% url 'home' %}" ><img src="{% static 'images/logo.png' %}" alt="SoulDiaryConnect" height="60px" style="margin-left: 30px;"></a>
    </div>
    <br><br><br>
    <div class="registration-container">
        <h1>Registrazione</h1>
        <form method="POST">
            {% csrf_token %}

            <!-- Selezione tipo utente -->
            <label>Tipo di utente:</label>
            <select name="user_type" id="user_type" onchange="toggleFields()" required>
                <option value="">-- Seleziona --</option>
                <option value="medico">Medico</option>
                <option value="paziente">Paziente</option>
            </select>

            <!-- Campi comuni -->
            <div id="common_fields" class="hidden">
                <label>Nome</label>
                <input type="text" name="nome" placeholder="Inserisci il tuo nome">
                <label>Cognome</label>
                <input type="text" name="cognome" placeholder="Inserisci il tuo cognome">
                <label>Email</label>
                <input type="email" name="email" placeholder="Inserisci la tua email">
                <label>Password</label>
                <input type="password" name="passwd" placeholder="Inserisci la tua password">
            </div>

            <!-- Campi specifici per il medico -->
            <div id="medico_fields" class="hidden">
                <label>Codice identificativo</label>
                <input type="text" name="codice_identificativo" placeholder="Inserisci il codice identificativo">
                <label>Indirizzo studio</label>
                <input type="text" name="indirizzo_studio" placeholder="Inserisci l'indirizzo dello studio">
                <label>Numero civico</label>
                <input type="text" name="numero_civico" placeholder="Inserisci il numero civico">
                <label>Città</label>
                <input type="text" name="citta" placeholder="Inserisci la città">
                <label>Numero telefono studio</label>
                <input type="text" name="numero_telefono_studio" placeholder="Inserisci il numero di telefono dello studio">
                <label>Numero telefono cellulare</label>
                <input type="text" name="numero_telefono_cellulare" placeholder="Inserisci il numero di telefono cellulare">
            </div>

            <!-- Campi specifici per il paziente -->
            <div id="paziente_fields" class="hidden">
                <label>Codice fiscale</label>
                <input type="text" name="codice_fiscale" placeholder="Inserisci il codice fiscale">
                <label>Data di nascita</label>
                <input type="date" name="data_di_nascita">
                <label>Medico di riferimento (codice identificativo)</label>
                <input type="text" name="med" placeholder="Inserisci il codice identificativo del medico">
            </div>

            <button type="submit" class="submit-button hidden" id="register_button">Registrati <img src="{% static 'images/register.png' %}" height="24px"></button>
        </form>
        <p>Sei già registrato? Effettua il <a href="{% url 'login' %}">login</a></p>
    </div>
</body>
</html>
